<p class="text-success"><%= flash[:notice] %></p>
<p class="text-danger"><%= flash[:error] %></p>

<div class="card mt-3">
  <div class="card-header bg-secondary text-white">
    <%= "#{t('model.project').to_s.humanize}: #{@project.name}" %>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-12">
        <% if !@project_description.description.nil? and !@project_description.description.empty? %>
          <p class="mb-0">
            <strong><%= t('view.project.index.description') %>:</strong>
          </p>
          <div id="product-viewer" class="wysiwyg-viewer">
            <%= @project_description.description.html_safe %>
          </div>
        <% end %>
        <% if !@project.origin.nil? %>
          <div class="pt-2">
            <strong><%= "#{t('view.project.show.origin')}:" %></strong>
            <%= image_tag("origins/#{@project.origin.slug}.png", class: 'origin-img-full',
                          'title': @project.origin.name, 'data-toggle': 'tooltip') %>
          </div>
        <% end %>
        <p class="mt-3">
        <% if !@project.project_url.nil? %>
          <strong><%= "#{t('view.project.show.project-url')}:" %></strong>
          <a href="<%= @project.project_url %>" target="_blank" rel="noreferrer noopener">
            <%= @project.project_url %> &#x29c9;
          </a>
        <% end %>
      </div>
    </div>
    <p class="float-right mb-0" >
      <%= link_to t('view.general.back'), projects_path, :class => "card-link" %>
      <% if user_signed_in? && policy(@project).mod_allowed? %>
        <%= link_to t('view.general.edit'), edit_project_path(@project), :class => "card-link" %>
      <% end %>
    </p>
  </div>
</div>

<% if session[:project_elevated_role].to_s.downcase == 'true' %>
  <div class="alert alert-info mt-2 mb-0">
    <%= t('view.candidate-role.show.request-elevation',
        href: link_to(t('view.general.this-link'), new_candidate_role_path, class: 'card-link')).html_safe %>
  </div>
<% end %>

<div class="mt-2">
  <div class="rounded bg-secondary text-white card-header">
    <%= t('model.organization').to_s.humanize %>
  </div>
  <% if @project.organizations.count > 0 %>
    <div class="row">
      <% @project.organizations.each.with_index do |organization, index| %>
        <div class="col-6 col-lg-4 mt-2">
          <div class="card flex-row">
            <%= link_to organization do %>
              <%= image_tag(organization.image_file, height: 75, class: 'card-image-top align-middle p-1') %>
            <% end %>
            <div class="card-body align-middle my-auto px-2 py-2">
              <%= link_to organization.name, organization, class: 'mr-2' %>
              <% proj_org = ProjectsOrganization.find_by(project_id: @project.id, organization_id: organization.id) %>
              <div class="text-muted">(<%= proj_org.org_type.titlecase %>)</div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p class="card-text text-muted">
      <%= t('view.general.not-available', model: t('model.project'), multi: t('model.organization').to_s.pluralize) %>
    </p>
  <% end %>
</div>

<div class="mt-2">
  <div class="rounded bg-secondary text-white card-header">
    <%= t('model.product').to_s.humanize %>
  </div>
  <% if @project.products.count > 0 %>
    <div class="row">
      <% @project.products.each.with_index do |product, index| %>
        <div class="col-6 col-lg-4 mt-2">
          <div class="card flex-row">
            <%= link_to product do %>
              <%= image_tag(product.image_file, height: 75, class: 'card-image-top align-middle p-1') %>
            <% end %>
            <div class="card-body align-middle my-auto px-2 py-2">
              <%= link_to product.name, product %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p class="card-text text-muted">
      <%= t('view.general.not-available', model: t('model.project'), multi: t('model.product').to_s.pluralize) %>
    </p>
  <% end %>
</div>

<div class="mt-2">
  <div class="rounded bg-secondary text-white card-header">
    <%= t('model.country').to_s.pluralize.humanize %>
  </div>
  <% if @project.countries.count > 0 %>
    <div class="row">
      <% @project.countries.order("name").each do |country| %>
        <div class="col-6 col-lg-4 mt-2">
          <div class="card h-100">
            <div class="card-body py-2">
              <p class="card-text text-muted" style="flex: 1"><%= link_to country.name, country %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p class="card-text text-muted">
      <%= t('view.general.not-available', model: t('model.project'), multi: t('model.country').to_s.pluralize) %>
    </p>
  <% end %>

  <div class="mt-2">
  <div class="rounded bg-secondary text-white card-header">
    <%= t('model.sector').to_s.pluralize.humanize %>
  </div>
  <% if @project.sectors.count > 0 %>
    <div class="row">
      <% @project.sectors.order("name").each do |sector| %>
        <% if sector.locale == I18n.locale.to_s %>
          <div class="col-6 col-lg-4 mt-2">
            <div class="card h-100">
              <div class="card-body py-2">
                <p class="card-text text-muted" style="flex: 1"><%= link_to sector.name, sector %></p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% else %>
    <p class="card-text text-muted">
      <%= t('view.general.not-available', model: t('model.project'), multi: t('model.sector').to_s.pluralize) %>
    </p>
  <% end %>

  <div class="mt-2">
  <div class="rounded bg-secondary text-white card-header">
    <%= t('model.sustainable-development-goal').to_s.pluralize.humanize %>
  </div>
  <% if @project.sustainable_development_goals.count > 0 %>
    <div class="row">
      <% @project.sustainable_development_goals.order("name").each do |sdg| %>
        <div class="col-6 col-lg-4 mt-2">
          <div class="card h-100">
            <div class="card-body py-2">
              <p class="card-text text-muted" style="flex: 1"><%= link_to sdg.name, sdg %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p class="card-text text-muted">
      <%= t('view.general.not-available', model: t('model.project'), multi: t('model.sustainable-development-goal').to_s.pluralize) %>
    </p>
  <% end %>

  <div class="mt-2">
  <div class="rounded bg-secondary text-white card-header">
    <%= t('model.tag').to_s.pluralize.humanize %>
  </div>
  <% if @project.tags.count > 0 %>
    <div class="row">
      <% @project.tags.each do |tag| %>
        <div class="col-6 col-lg-4 mt-2">
          <div class="card h-100">
            <div class="card-body py-2">
              <p class="card-text text-muted" style="flex: 1"><%= tag %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p class="card-text text-muted">
      <%= t('view.general.not-available', model: t('model.project'), multi: t('model.sustainable-development-goal').to_s.pluralize) %>
    </p>
  <% end %>

  <div class="mt-2">
  <div class="rounded bg-secondary text-white card-header">
    <%= t('model.digital-principle').to_s.pluralize.humanize %>
  </div>
  <% if @project.digital_principles.count > 0 %>
    <div class="row">
      <% @project.digital_principles.order("name").each do |principle| %>
        <div class="col-6 col-lg-4 mt-2">
          <div class="card h-100">
            <div class="card-body py-2">
              <p class="card-text text-muted" style="flex: 1"><%= principle.name %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p class="card-text text-muted">
      <%= t('view.general.not-available', model: t('model.project'), multi: t('model.digital-principle').to_s.pluralize) %>
    </p>
  <% end %>
</div>

